.plan_budget {
  flex-direction: column;
  .form {
    display: flex;
    column-gap: 20px;
    align-items: center;
  margin-bottom: 15px;
    & > div {
      width: 400px;
    }
  }
  .upload_file {
    width: 812px;
    margin-top: 2rem;
  }
  .instruction {
    max-width: 24rem;
    margin-top: 0;
  }
  input{
    width:100%
  }
}
