.setting {
  svg {
    position: fixed;
    bottom: 1rem;
    left: 18rem;
    background: #47bdf3;
    padding: 1rem;
    color: #fff;
    border-radius: 50%;
    box-sizing: content-box;
    font-size: 2rem;
    cursor: pointer;
  }
}
